<center style="display:table;table-layout:fixed;width:100%;background-color:#ffffff">
	<table style="border-collapse:collapse;border-spacing:0;width:100%">
		<tbody><tr>
		<td style="padding:0;vertical-align:top">&nbsp;</td>
			<td style="padding:0;vertical-align:top;padding-top:16px;padding-bottom:16px;">
				<div style="text-align:center" align="center">

					<a href="{{ url('zona_comix_website_cover') }}"><img src="{{ logo }}"></a>

				</div>

			</td>
			<td style="padding:0;vertical-align:top">&nbsp;</td>
		</tr>
	</tbody></table>
	
			<table style="border-collapse:collapse;border-spacing:0;width:100%;background-color:#ffffff">
				<tbody><tr>
					<td style="padding:0;vertical-align:top" align="center">
						<table style="border-collapse:collapse;border-spacing:0;Margin-left:auto;Margin-right:auto;">
							<tbody><tr>
								<td style="padding:0;vertical-align:top;text-align:left">
									<div><div style="font-size:52px;line-height:52px">&nbsp;</div></div>
										<table style="border-collapse:collapse;border-spacing:0;width:100%">
											<tbody><tr>
												<td style="padding:0;vertical-align:top;padding-left:90px;padding-right:90px">
													
				<h1 style="Margin-top:0;color:#2e3b4e;font-size:36px;Margin-bottom:24px;font-family:Avenir,sans-serif;text-align:center;line-height:44px">{% block title %}{% endblock %}</h1>
				<p style="Margin-top:0;color:#4e5561;font-size:16px;font-family:sans-serif;line-height:25px;Margin-bottom:25px;font-weight:300;text-align:center;">{% block body %}{% endblock %}</p>
												</td>
											</tr>
										</tbody></table>
									
									<div style="font-size:26px;line-height:26px">&nbsp;</div>
								</td>
							</tr>
						</tbody></table>
					</td>
				</tr>
			</tbody></table>
		
	<table style="border-collapse:collapse;border-spacing:0;width:100%;background-color:#ffffff">
		<tbody><tr>
			<td style="padding:0;vertical-align:top;padding-top:60px;padding-bottom:55px" align="center">
				<table style="border-collapse:collapse;border-spacing:0;">
					<tbody><tr>
						<td style="padding:0;vertical-align:top;font-size:11px;font-weight:400;letter-spacing:0.01em;line-height:17px;padding-bottom:22px;text-align:left;width:55%;padding-right:5px;color:#b3b3b3;font-family:sans-serif">
							<table style="border-collapse:collapse;border-spacing:0">
								<tbody><tr>
									<td style="padding:0;vertical-align:top;padding-right:15px;padding-bottom:20px;text-transform:uppercase;font-size:11px">
										<a style="font-weight:700;letter-spacing:0.03em;text-decoration:none;color:#b3b3b3;display:block;line-height:21px;font-family:sans-serif" href="http://preview14120507.cmail2.com/t/t-tw-jkuiltl-l-j/" target="_blank"><img style="border:0" src="https://ci3.googleusercontent.com/proxy/VdlLQYBEyqRBTSroL2-oL35m8yxqYFlNvHs7BLLysGdx-hSu-I7G3cJsgF_iBVBP4jBFSfF53px-DZQZGpixYvSN0FeB37giAtszOMiBp5xd5RwAwKfMQxVWjWc=s0-d-e1-ft#http://i4.cmail2.com/static/eb/master/05-slate/images/twitter-dark.png" height="20" width="25" align="top"><span>Tweet</span></a>
									</td>
									<td style="padding:0;vertical-align:top;padding-right:15px;padding-bottom:20px;text-transform:uppercase;font-size:11px">
										<a style="font-weight:700;letter-spacing:0.03em;text-decoration:none;color:#b3b3b3;display:block;line-height:21px;font-family:sans-serif" href="http://preview14120507.cmail2.com/t/t-fb-jkuiltl-l-t/" rel="cs_facebox" target="_blank"><img style="border:0" src="https://ci5.googleusercontent.com/proxy/B7jkS81m303UNMrN6qKMaaUpZ1ESXUuoRUfLbPUgx-_Zebh8tadMeLo63J1suC0GUSmzoH2R-LNv4xEVrg1gWVZALC9jRyZGpoHic-XqJ15BxLWQOkgsAr9a-7Fp=s0-d-e1-ft#http://i6.cmail2.com/static/eb/master/05-slate/images/facebook-dark.png" height="20" width="25" align="top"><span>Like</span></a>
									</td>
									<td style="padding:0;vertical-align:top;padding-right:15px;padding-bottom:20px;text-transform:uppercase;font-size:11px">
										<a style="font-weight:700;letter-spacing:0.03em;text-decoration:none;color:#b3b3b3;display:block;line-height:21px;font-family:sans-serif" href="http://client.forwardtomyfriend.com/t-l-2AD73FFF-jkuiltl-l-i" target="_blank"><img style="border:0" src="https://ci3.googleusercontent.com/proxy/UIYd7ZORefwCLXpf82GyykLMom7N10b6jF2XSBAPsJRofRpoYy5DFURFEK9IuBU8WIXZB5Wh8-aTmVhVYTgqzvtj4WiZ4MMcRG5KWssCqTsLbtCkXADAUBMEDjg=s0-d-e1-ft#http://i5.cmail2.com/static/eb/master/05-slate/images/forward-dark.png" height="20" width="25" align="top"><span>Forward</span></a>
									</td>
								</tr>
							</tbody>
						</table>
					</tr>
				</tbody></table>
			</td>
		</tr>
	</tbody></table>
</center>