{% extends 'ZonaComixWebsiteBundle:Website:Mail/BaseMail.html.twig' %}

{% block title %}Bienvenido a ZonaComix{% endblock %}

{% block body %}
	Gracias por registrarte en ZonaComix. Tu cuenta ya est치 activa por lo que puedes comenzar a publicar tus comics y a generar ingresos por ellos. Si quieres conocer m치s detalles, pulsa sobre el siguiente bot칩n para seguir leyendo los beneficios que obtienes por publicar tus comics en ZonaComix.<br><br>

	<a style="border-radius:3px;display:inline-block;font-size:14px;font-weight:700;line-height:24px;padding:13px 35px 12px 35px;text-align:center;text-decoration:none;color:#fff;font-family:sans-serif;background-color:#1a232b" href="{{ url('zona_comix_website_advantages') }}" target="_blank">Leer m치s</a>
{% endblock %}