{% extends 'ZonaComixWebsiteBundle:Website:Dashboard/Dashboard.html.twig' %}

{% block title %}Escritorio (Error) - ZonaComix{% endblock %}

{% block container %}
        <div class="row">
            <h1 class="page-header">Tu cuenta no se ha validado</h1>
            <div class="jumbotron">
                <p>Aún no puedes publicar comics ya que tu cuenta no se encuentra validada. En unos momentos recibirás un correo electrónico de contacto@zonacomix.com para validar tu cuenta. Si no encuentras el correo en tu bandeja de entrada revisa la bandeja de spam o correo no deseado.</p>
                <!--<p>Si deseas cambiar tu dirección de correo electrónico puedes hacerlo desde tu perfil.</p>

                <p><a class="btn btn-primary btn-lg" href="{{ path('zona_comix_website_dashboard_profile') }}" role="button">Ir a mi perfil <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></p>-->
            </div>
        </div>
{% endblock %}