{% extends 'ZonaComixWebsiteBundle:Website:Dashboard/Dashboard.html.twig' %}

{% block title %}Escritorio (Programa de referidos) - ZonaComix{% endblock %}

{% block container %}
	<h2 class="sub-header">Programa de referidos</h2>
	
	<p>El programa de referidos funciona de una manera muy sencilla: Por cada usuario que se registre utilizando tu enlace de referencia (el cual se muestra enseguida) obtendrás el 10% de todo lo que el usuario genere con sus publicaciones de comics durante un <strong>año completo</strong> ¡sin necesidad de hacer nada más! Es nuestra forma de agradecerte por ayudarnos a promocionar la página.</p>

	<p>No hay límite para la cantidad de usuarios que puedes referir o la cantidad de dinero que puedes ganar.</p>
	
	<div class="form-group">
		<label for="exampleInputEmail1">URL de referido:</label>
		<div class="input-group">
			<input type="text" id="url" class="form-control input-lg" value="{{ url('zona_comix_website_register', { 'username': user.username } ) }}" readonly>
			<span class="input-group-btn">
				<button class="btn btn-default input-lg" id="select"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button>
			</span>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	{{ parent() }}
	
	<script type="text/javascript">
	$(document).ready(function(){
		$("#url").focus(function() {
			$(this).select();
		});
		$("#select").click(function() {
		    $('#url').focus();
		});
	});
	</script>
{% endblock %}