{% extends '::WebsiteBase.html.twig' %}

{% block title %}Ventajas de publicar con nosotros - ZonaComix{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<h1 class="page-header">Ventajas de publicar con nosotros</h1>
			<div class="form-container">
				<p>ZonaComix genera dinero con la publicidad que se muestra en el sitio y especialmente en los comics que publican sus usuarios, pero a diferencia de la mayoría de los sitios, ZonaComix desea compartir estas ganancias con aquellos que las hacen posibles. De todo el dinero que se genere con el tráfico de tus comics ZonaComix compartirá el 30% del total acumulado.</p>
			</div>
		</div>
	</div>
{% endblock %}