{% extends '::WebsiteBase.html.twig' %}

{% block title %}Registro (Error) - ZonaComix{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="page-header">Error al validar tu cuenta</h1>
            <div class="jumbotron">
                <p>El enlace de validación es incorrecto.</p>
            </div>
        </div>
    </div>
{% endblock %}