{% extends '::WebsiteBase.html.twig' %}

{% block title %}Registro (Cuenta Validada) - ZonaComix{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Gracias por validar tu cuenta</h1>
            <legend>Tu cuenta ya se encuentra activa</legend>
            <div class="jumbotron">
                <p>¡Ya puedes comenzar a publicar comics!</p>
                <p><a class="btn btn-primary btn-lg" href="{{ path('zona_comix_website_login') }}" role="button">Iniciar sesión <span class="glyphicon glyphicon-security" aria-hidden="true"></span></a></p>
            </div>
        </div>
    </div>
{% endblock %}