{% extends '::WebsiteBase.html.twig' %}

{% block title %}Políticas de privacidad - ZonaComix{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<h1 class="page-header">Políticas de privacidad</h1>
			<div class="form-container">
                Última modificación: 24 de febrero de 2015

				<h2>Información que recopilamos</h2>

                <p>Recopilamos información para brindar mejores servicios a todos nuestros usuarios: desde entender cosas básicas como el idioma que usted habla, hasta cosas más complejas como los anuncios que a usted le parecen más útiles, la gente que más le importa en línea o los videos de YouTube que le pueden gustar.</p>

                <p>Recopilamos información de dos maneras:</p>

                    <ul>
                    <li>Información que usted nos proporciona. Por ejemplo, muchos de nuestros servicios requieren que se registre para obtener una cuenta de ZonaComix. Cuando lo hace, le solicitamos información personal, como su nombre, dirección de correo electrónico, número de teléfono o de tarjeta de crédito. Si desea sacar la mayor ventaja posible de las funciones de información compartida que ofrecemos, es posible que también le solicitemos que cree un Perfil de ZonaComix visible en forma pública, que puede incluir su nombre y fotografía.</li>

                    <li>Información que obtenemos de su uso de nuestros servicios. Podemos recopilar información sobre los servicios que usted utiliza y el modo en que los utiliza, como por ejemplo, cuando mira un video de YouTube, visita un sitio web que utiliza nuestros servicios de publicidad o mira e interactúa con nuestros anuncios y contenido. Esta información podría incluir:</li>
                        <ul>

                        <li>Información del dispositivo</li>

                        Recopilamos información específica sobre el dispositivo (como el modelo de hardware, versión del sistema operativo, identificadores únicos de dispositivo e información de la red móvil, incluido número de teléfono). ZonaComix puede asociar sus identificadores de dispositivo o su número de teléfono con su cuenta de ZonaComix.

                        <li>Información de registro</li>

                        Cuando usa nuestros servicios o ve contenido proporcionado por ZonaComix, automáticamente recopilamos información y la almacenamos en los registros de nuestros servidores. Esto incluye:
                            detalles sobre el modo en que utilizó nuestro servicio, como sus consultas de búsqueda.
                            información de registro de telefonía, como su número de teléfono, número del emisor, números de desvío de llamadas, fecha y hora de las llamadas, duración de las llamadas, información de enrutamiento de SMS y tipos de llamadas.
                            Dirección de protocolo de Internet.
                            información de evento del dispositivo, como fallas, actividad del sistema, configuración del hardware, tipo de navegador, idioma del navegador, fecha y hora de su solicitud y URL de referencia.
                            cookies que pueden identificar de manera única a su navegador o a su cuenta de ZonaComix.

                        <li>Almacenamiento local</li>

                        Podremos recopilar y almacenar información (incluida la información personal) en forma local en su dispositivo con mecanismos tales como el almacenamiento web del navegador (incluido HTML 5) y memorias caché de datos de la aplicación.

                        <li>Cookies e identificadores anónimos</li>

                        Junto con nuestros socios, utilizamos diversas tecnologías para recopilar y almacenar información cuando usted visita un servicio de ZonaComix, y esto puede incluir el envío de una o más cookies o identificadores anónimos a su dispositivo. También utilizamos cookies e identificadores anónimos cuando usted interactúa con servicios que ofrecemos a nuestros socios, como servicios de publicidad o funciones de ZonaComix que puedan aparecer en otros sitios.
                    </ul>
                </ul>

                <h2>Cómo utilizamos la información que recopilamos</h2>

                <p>Utilizamos la información que recopilamos de todos nuestros servicios para proveerlos, mantenerlos, protegerlos y mejorarlos, para desarrollar otros servicios nuevos y para proteger a ZonaComix y a nuestros usuarios. También utilizamos esta información para ofrecerle contenido personalizado (p. ej., para proporcionarle resultados de búsqueda y anuncios más relevantes).</p>

                <p>Podremos utilizar el nombre que usted proporcione para su perfil de ZonaComix en todos los servicios que ofrecemos y que requieran una cuenta de ZonaComix. Además, podremos reemplazar los nombres anteriores relacionados con su cuenta de ZonaComix de modo que usted sea identificado en forma consistente en todos nuestros servicios. Si otros usuarios ya tienen su dirección de correo electrónico u otra información que lo identifique, podremos mostrarles la información visible en forma pública de su perfil de ZonaComix, como su nombre y su foto.</p>

                <p>Si tiene una cuenta de ZonaComix, es posible que mostremos su nombre de Perfil, su foto de Perfil y las acciones que realiza en ZonaComix o en aplicaciones de terceros conectadas a su cuenta de ZonaComix (como los +1 que hace, las opiniones que escribe y los comentarios que publica) en nuestros servicios, incluida la aparición en anuncios y otros contextos comerciales. Respetaremos las decisiones que tome en relación con la limitación de la configuración del uso compartido o del nivel de visibilidad en la cuenta de ZonaComix.</p>

                <p>Si usted contacta a ZonaComix, conservaremos un registro de su comunicación para ayudar a solucionar cualquier problema que pueda tener. Podremos utilizar su dirección de correo electrónico para informarle sobre nuestros servicios, como hacerle saber los próximos cambios o mejoras.</p>

                <p>Usamos la información que proporcionan las cookies y otras tecnologías, como las etiquetas de píxel, para que nuestros usuarios disfruten de una mejor experiencia y para mejorar la calidad general de nuestros servicios. Por ejemplo, al guardar sus preferencias de idioma, podremos permitir que nuestros servicios aparezcan en el idioma que prefiera. Cuando le mostremos anuncios personalizados, no asociaremos una cookie o identificador anónimo con categorías delicadas, como aquellas relativas a raza, religión, orientación sexual o salud.</p>

                <p>Nuestros sistemas automatizados analizan el contenido (incluidos los correos electrónicos) para proporcionarle funciones de productos que guarden relación con su actividad, como la publicación de anuncios y resultados de búsqueda personalizados y la detección de spam y software malicioso.</p>

                <p>Puede que combinemos la información de un servicio en particular con la de otros servicios de ZonaComix, incluida su información personal, a fin de, por ejemplo, facilitar el uso compartido de contenido con personas que conoce. No combinaremos la información de la cookie DoubleClick con información de identificación personal, a menos que tengamos su consentimiento.</p>

                <p>Solicitaremos su consentimiento antes de utilizar la información para otro fin que no sea alguno de los dispuestos en la presente Política de Privacidad.</p>

                <p>ZonaComix procesa la información personal en nuestros servidores en varios países de todo el mundo. Podremos procesar su información personal en un servidor ubicado fuera del país en el que usted vive.</p>

                <h2>Transparencia y opciones</h2>

                <p>La gente tiene diferentes preocupaciones sobre privacidad. Nuestro objetivo es ser claros en cuanto a la información que recopilamos, de modo que usted pueda tomar decisiones significativas sobre cómo se la utiliza. Por ejemplo, usted puede:</p>

                <ul>
                    <li>revisar y controlar ciertos tipos de información relacionada con su cuenta de ZonaComix mediante su Panel de ZonaComix.</li>
                    <li>ver y editar las preferencias con respecto a los anuncios que se le muestran en ZonaComix y en toda la Web, como las categorías de su interés, e inhabilitar ciertos servicios de publicidad de ZonaComix a través de la configuración de anuncios;</li>
                    <li>utilizar nuestro editor para ver y ajustar el modo en que aparece su perfil de ZonaComix para ciertos individuos en particular.</li>
                    <li>controlar con quienes comparte información.</li>
                    <li>obtener información de muchos de nuestros servicios.</li>
                    <li>elegir si el nombre de Perfil y la foto de Perfil aparecerán en las recomendaciones compartidas que se publican en los anuncios.</li>
                </ul>

                <p>También puede configurar su navegador para bloquear todas las cookies, incluidas las cookies relacionadas con nuestros servicios, o para indicar cuándo nosotros configuramos una cookie. Sin embargo, es importante recordar que muchos de nuestros servicios podrían no funcionar correctamente si sus cookies están inhabilitadas. Por ejemplo, tal vez no recordemos sus preferencias de idioma.</p>

                <h2>Información que comparte</h2>

                <p>Muchos de nuestros servicios le permiten compartir información con otras personas. Recuerde que cuando comparte información en forma pública, puede ser recopilada por los motores de búsqueda, incluido ZonaComix. Nuestros servicios le proporcionan diferentes opciones para compartir y eliminar su contenido.</p>

                <h2>Acceso y actualización de su información personal</h2>

                <p>Siempre que usted usa nuestros servicios, nos proponemos brindarle acceso a su información personal. Si esa información es incorrecta, nos esforzamos por ofrecerle maneras de actualizarla o eliminarla rápidamente (a menos que debamos conservar esa información por motivos comerciales o legales legítimos). Si actualiza su información personal, tal vez le pidamos que verifique su identidad antes de que podamos actuar según su solicitud.</p>

                <p>Es posible que rechacemos las solicitudes que son excesivamente repetitivas, requieren un esfuerzo técnico desproporcionado (por ejemplo, desarrollar un sistema nuevo o cambiar una práctica actual radicalmente), ponen en riesgo la privacidad de otros o resultan muy poco prácticas (por ejemplo, aquellas relacionadas con la información almacenada en sistemas de copia de seguridad).</p>

                <p>Cuando podamos proporcionar el acceso y la corrección de la información, lo haremos de forma gratuita, a menos que se requiera un esfuerzo desproporcionado. Nos proponemos mantener nuestros servicios de manera tal que se proteja la información de una destrucción accidental o maliciosa. Debido a esto, luego de que usted elimine información de nuestros servicios, podríamos no eliminar inmediatamente las copias residuales de nuestros servidores activos, ni las copias de seguridad de nuestros sistemas.</p>

                <h2>Información que compartimos</h2>

                <p>No compartimos información personal con empresas, organizaciones o personas que no forman parte de ZonaComix, a menos que se produzca alguna de las siguientes circunstancias:<p>

                    <ul>
                    <li>Con su consentimiento<br>

                    Compartiremos información personal con empresas, organizaciones o individuos fuera de ZonaComix si tenemos su consentimiento para hacerlo. Solicitamos que preste su consentimiento para compartir cualquier tipo de información personal confidencial.</li>

                    <li>Para procesamiento externo<br>

                    Proporcionamos información personal a nuestros afiliados u otras empresas o personas de confianza para que la procesen por nosotros, según nuestras instrucciones y conforme a nuestra Política de Privacidad y a cualquier otra medida pertinente de confidencialidad y seguridad.</li>

                    <li>Por motivos legales<br>

                    Compartiremos información personal con empresas, organizaciones e individuos fuera de ZonaComix si creemos de buena fe que el acceso, el uso, la conservación o la divulgación de la información es razonablemente necesaria para:</li>
                        <ul>
                        <li>cumplir con las leyes aplicables, las regulaciones, los procesos legales o las exigencias gubernamentales vigentes.
                        garantizar el cumplimiento de las Condiciones del servicio correspondientes, incluida la investigación de posibles violaciones.
                        detectar, evitar o de otro modo tratar los problemas técnicos, de fraude o seguridad.
                        proteger de posibles daños a los derechos, la propiedad o la seguridad de ZonaComix, de nuestros usuarios o del público según lo establezca o permita la ley.</li>
                        </ul>
                    </ul>
                <p>Podremos compartir información acumulada, que no permita identificarlo personalmente, en forma pública y con nuestros socios (como los editores, anunciantes o sitios conectados). Por ejemplo, podremos compartir información en forma pública para mostrar las tendencias sobre el uso general de nuestros servicios.</p>

                <p>Si ZonaComix se involucra en una fusión, adquisición o venta de activos, continuaremos asegurando la confidencialidad de cualquier información personal y notificaremos a los usuarios afectados antes de que la información personal se transfiera o esté sujeta a una política de privacidad diferente.</p>
                
                <h2>Seguridad de la información</h2>

                <p>Nos esforzamos en proteger a ZonaComix y nuestros usuarios del acceso no autorizado o cualquier modificación, divulgación o destrucción no autorizada de la información que poseemos. En particular:</p>

                    <ul>
                        <li>Encriptamos muchos de nuestros servicios usando SSL.</li>
                        <li>Le ofrecemos a usted la verificación en dos pasos cuando accede a su cuenta de ZonaComix.</li>
                        <li>Revisamos nuestras prácticas de recopilación, almacenamiento y procesamiento de información, incluidas nuestras medidas de seguridad física, para protegernos frente al acceso no autorizado a los sistemas.</li>
                        <li>Restringimos el acceso a la información personal a los empleados, contratistas y agentes de ZonaComix que necesiten conocer tal información para procesarla por nosotros, y que estén sujetos a estrictas obligaciones contractuales de confidencialidad y puedan ser sancionados o despedidos si no cumplen con estas obligaciones.</li>
                    </ul>

                <h2>Situaciones en las que se aplica esta Política de Privacidad</h2>

                <p>Nuestra Política de Privacidad se aplica a todos los servicios ofrecidos por ZonaComix y sus afiliados, y los servicios ofrecidos en otros sitios (como nuestros servicios de publicidad), pero excluye los servicios que tienen políticas de privacidad separadas que no incorporan la presente Política de Privacidad.</p>

                <p>Nuestra Política de Privacidad no se aplica a los servicios ofrecidos por otras empresas o individuos, incluidos los productos o sitios que puedan aparecer como resultados de búsqueda, los sitios que puedan incluir servicios de ZonaComix u otros sitios vinculados de nuestros servicios. Nuestra Política de Privacidad no cubre las prácticas de información de otras empresas y organizaciones que anuncian nuestros servicios y que puedan utilizar cookies, etiquetas de píxeles y otras tecnologías para proveer y ofrecer anuncios relevantes.
                Conformidad y colaboración con las autoridades normativas</p>

                <p>Revisamos periódicamente el cumplimiento de nuestra Política de Privacidad. También nos adherimos a varios marcos auto regulatorios. Cuando recibimos reclamos formales por escrito, nos contactaremos con la persona que realizó el reclamo para hacer un seguimiento. Trabajamos con las autoridades reguladoras correspondientes, incluidas las autoridades locales de protección de datos, a fin de resolver cualquier reclamo relacionado con la transferencia de datos personales que no podemos resolver directamente con nuestros usuarios.
                Modificaciones</p>

                <p>Nuestra Política de Privacidad puede modificarse ocasionalmente. No limitaremos sus derechos derivados de la presente Política de Privacidad sin su expreso consentimiento. Publicaremos cualquier modificación de la presente Política de Privacidad en esta página y, si estas modificaciones son significativas, le enviaremos una notificación más destacada (por ejemplo, una notificación por correo electrónico sobre las modificaciones de la política de privacidad, en el caso de determinados servicios). Además, conservaremos las versiones anteriores de la presente Política de Privacidad para que pueda consultarlas.
                Prácticas específicas de productos</p>
			</div>
		</div>
	</div>
{% endblock %}